@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?pu62g0');
  src:url('../fonts/icomoon.eot?#iefixpu62g0') format('embedded-opentype'),
    url('../fonts/icomoon.woff?pu62g0') format('woff'),
    url('../fonts/icomoon.ttf?pu62g0') format('truetype'),
    url('../fonts/icomoon.svg?pu62g0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-fett-right:before {
  content: "\e601";
}

.icon-arrow-right:before {
  content: "\e600";
}

.icon-arrow-fett-left:before {
  content: "\e603";
}

.icon-arrow-left:before {
  content: "\e602";
}